<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group"
          [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
          <label
            for="email"
            class="control-label">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email">
          <span
            *ngIf="form.get('email').invalid && form.get('email').touched"
            class="help-block">Favor informar um E-mail válido!</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group"
        [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
          <label
            for="password"
            class="control-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
            <span
            *ngIf="form.get('password').invalid && form.get('password').touched"
            class="help-block">Favor informar uma senha com pelo menos 6 caracteres!</span>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group"
        [ngClass]="{'has-error': form.get('passwordConf').invalid && form.get('passwordConf').touched}">
          <label
            for="passwordConf"
            class="control-label">Confirmação</label>
          <input
            type="password"
            id="passwordConf"
            class="form-control"
            formControlName="passwordConf">
          <span
            *ngIf="form.get('passwordConf').invalid && form.get('passwordConf').touched"
            class="help-block">
            <span
              *ngIf="form.get('passwordConf').errors['required'] || form.get('passwordConf').errors['minlength']"
            >Favor informar uma senha com pelo menos 6 caracteres!</span>
            <br>
            <span
              *ngIf="form.get('passwordConf').errors['diffPassword']"
            >As senhas são diferentes!</span>
          </span>
        </div>
      </div>

      <div class="row">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid">Cadastar</button>
      </div>
    </form>
  </div>
</div>