<div class="row">
  <div class="col-xs-4">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let conta of contas; let i = index"
        (click)="onSelectAccount(i)"
        [ngClass]="{'active': i == selectedIndex}">
        {{ conta.agencia }} - {{ conta.conta }}
      </li>
    </ul>
  </div>

  <div class="col-xs-8">
      <app-account-edit
        [account]="getSelectedAccount()"
        (accountSaved)="onAccountSaved($event)"
        *ngIf="selectedIndex >= 0; else emptyAccount"></app-account-edit>

      <ng-template #emptyAccount>
        <p>Favor selecionar uma conta!</p>
      </ng-template>
  </div>
</div>
