<div class="row">
  <div class="col-xs-4">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let conta of contas; let i = index"
        (click)="onSelectAccount(i)"
        [ngClass]="{'active': i == selectedIndex}">
          <p>{{ conta.agencia }} - {{ conta.conta }}</p>
          <p>{{ conta.tipo | resume : limit }}</p>
      </li>
    </ul>
    <button type="button" class="btn btn-default"
      (click)="aumentarLimite()">Aumentar limite</button>
  </div>

  <div class="col-xs-8">
      <app-account-edit
        [index]="selectedIndex"
        (accountSaved)="onAccountSaved($event)"
        *ngIf="selectedIndex >= 0; else emptyAccount">
        
        <h3 highlight>Cadastro de Conta</h3>
      </app-account-edit>

      <ng-template #emptyAccount>
        <p>Favor selecionar uma conta!</p>
      </ng-template>
  </div>
</div>
