<div class="row">
  <div class="col-xs-12">
    <p>Agência: {{ conta.agencia }}</p>
    <p>Conta: {{ conta.conta }}</p>
    <p>Tipo: {{ conta.tipo }}</p>
    <p>Saldo: {{ conta.saldo }}</p>

    <button
      type="button"
      class="btn btn-primary"
      (click)="onEdit()"
      *ngIf="canEdit">Alterar Dados</button>

    <button
      type="button"
      class="btn btn-defaul"
      (click)="onShowTransactions()">Extrato</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>