<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Banco</a>
      </div>

      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a 
            (click)="onLoadContas()">Contas</a></li>
        <li routerLinkActive="active"><a
            routerLink="/services">Serviços</a></li>
      </ul>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li *ngIf="!isLoggedIn()"><a routerLink="/register"
                    routerLinkActive="active">Cadastre-se</a></li>
          <li *ngIf="!isLoggedIn()"><a routerLink="/login"
            routerLinkActive="active">Login</a></li>
          <li *ngIf="isLoggedIn()"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-account-list *ngIf="page === 'accounts'"></app-account-list>
  <app-service-list *ngIf="page === 'services'"></app-service-list>
  <app-demo-switch></app-demo-switch> -->
</div>