<div class="row">
    <div class="com-xs-4">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let service of services; let i = index"
                [routerLink]="[i, 'edit']"
                routerLinkActive="active">
                {{ service.name }} - {{ service.value }}
            </li>
        </ul>

        <button
            type="button"
            class="btn btn-success"
            (click)="onNewService()">Novo Serviço</button>
    </div>

    <div class="col-xs-8">
        <router-outlet></router-outlet>
    </div>
</div>