<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSave(f)" #f="ngForm">
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group"
                [ngClass]="{'has-error': agencia.invalid && agencia.touched}">
                <label for="agencia" class="control-label">
                  Agência
                </label>
                <input
                  type="number"
                  id="agencia"
                  name="agencia"
                  class="form-control"
                  [(ngModel)]="conta.agencia"
                  required
                  #agencia="ngModel">
                <span
                  *ngIf="agencia.invalid && agencia.touched"
                  class="help-block">Favor informar a Agência!</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group"
                [ngClass]="{'has-error': conta.invalid && conta.touched}">
                  <label for="conta" class="control-label">
                    Conta
                  </label>
                  <input
                    type="number"
                    id="conta"
                    name="conta"
                    class="form-control"
                    [(ngModel)]="conta.conta"
                    required
                    #conta="ngModel">
                  <span
                    *ngIf="conta.invalid && conta.touched"
                    class="help-block">Favor informar a Conta!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group"
                [ngClass]="{'has-error': tipo.invalid && tipo.touched}">
                <label for="tipo" class="control-label">
                  Tipo
                </label>
                <input
                  type="text"
                  id="tipo"
                  name="tipo"
                  class="form-control"
                  [(ngModel)]="conta.tipo"
                  required
                  #tipo="ngModel">
                <span
                  *ngIf="tipo.invalid && tipo.touched"
                  class="help-block">Favor informar o Tipo da conta!</span>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" 
              [ngClass]="{'has-error': saldo.invalid && saldo.touched}">
              <label for="saldo" class="control-label">
                Saldo
              </label>
              <input
                type="number"
                id="saldo"
                name="saldo"
                class="form-control"
                (change)="log()"
                [(ngModel)]="conta.saldo"
                required
                pattern="\d+"
                #saldo="ngModel">
              <span
                *ngIf="saldo.invalid && saldo.touched"
                class="help-block">
                <span
                  *ngIf="saldo.errors['required']">Favor informar o valor do Saldo!</span>
                <span
                  *ngIf="saldo.errors['pattern']">Favor informar um saldo positivo!</span>
              </span>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="f.invalid">Salvar</button>
      </form>
    </div>
</div>