<div class="row">
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="agencia" class="control-label">
                  Agência
                </label>
                <input
                  type="number"
                  id="agencia"
                  class="form-control"
                  [(ngModel)]="conta.agencia">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                  <label for="conta" class="control-label">
                    Conta
                  </label>
                  <input
                    type="number"
                    id="conta"
                    class="form-control"
                    [(ngModel)]="conta.conta">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="tipo" class="control-label">
                  Tipo
                </label>
                <input
                  type="text"
                  id="tipo"
                  class="form-control"
                  [(ngModel)]="conta.tipo">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="saldo" class="control-label">
                Saldo
              </label>
              <input
                type="number"
                id="saldo"
                class="form-control"
                [(ngModel)]="conta.saldo">
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSave()">Salvar</button>
    </div>
</div>