<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <p>Agência 1234</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Conta: 0001234-1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Tipo: Conta Corrente</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Saldo: R$ 120,00</p>
            </div>
        </div>
    </div>
</div>