<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <p>Agência: {{ agencia }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Conta: {{ conta }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Tipo: {{ tipo }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Saldo: {{ saldo }}</p>
            </div>
        </div>
    </div>
</div>