<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSave()" [formGroup]="form">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group"
            [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
            <label for="name"
              class="control-label">Nome</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name">
                <span
                *ngIf="form.get('name').invalid && form.get('name').touched"
                class="help-block">
                <span
                  *ngIf="form.get('name').errors['required']">Favor informar o nome!</span>
                <span
                  *ngIf="form.get('name').errors['nomeProibido']">O nome não pode ser '{{form.get('name').errors['nomeProibido']}}'!</span>
              </span>
          </div>

          <div class="form-group"
          [ngClass]="{'has-error': form.get('value').invalid && form.get('value').touched}">
            <label for="value"
              class="control-label">Valor</label>
              <input
                type="number"
                id="value"
                class="form-control"
                formControlName="value">
                <span
                *ngIf="form.get('value').invalid && form.get('value').touched"
                class="help-block">
                <span
                  *ngIf="form.get('value').errors['required']">Favor informar o valor!</span>
                <span
                  *ngIf="form.get('value').errors['min']">Valor não pode ser negativo!</span>
              </span>
          </div>

          <button
            type="button"
            class="btn btn-info"
            (click)="onAddItem()">
            Novo item
          </button>

          <div formArrayName="items">
            <div class="row form-group"
              *ngFor="let item of form.get('items')
              .controls; let i = index">
              <div class="col-xs-10">
                <input
                  type="text"
                  class="form-control"
                  [formControlName]="i">
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onRemoveItem(i)">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="form.invalid">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
